

:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr{
    background-color: #008e76;
  }
  .p-datatable .p-datatable-thead > tr > th {
    color:#fafafa;
    background-color: #008e76;
    margin-left: 3%;
    width: 50%;

  }
  .p-datatable .p-datatable-thead > tr > th >.pi-sort{
    color:#91c9ae
  }
  .p-datatable .p-datatable-thead > tr > td{
    cursor: auto;
    text-align: left;
  }
  .p-datatable.p-datatable-customers >.p-datatable-header{

    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
  }
   .p-datatable.p-datatable-customers >.p-paginator {
    padding: 1rem;
   }

  .p-inputtext p-component p-element ng-pristine ng-valid ng-touched{
    margin-top: 20px;

  }
  .p-button-label{
    color:rgb(63, 62, 62);
  }
  .p-datatable-table{
    position: absolute;
  }
  .row-update {
    color: blue !important;
  }
  .p-input-icon-left {
    margin-left: 79%;
  }
  .p-datatable-scrollable .p-datatable-wrapper{
    margin-top: .5%;
    overflow: auto;
    display:block;
  }

  // 輸入框
  .p-inputtext p-component p-element ng-untouched ng-pristine ng-valid{
    margin-right: 10%;
  }

  // table的設定
  .p-tabview-panel ng-star-inserted{
    height: 800px;
  }
  
  // table的title設定
  .ng-star-inserted{

  }

}



