

<p-tabView styleClass="tabview-custom">
  <p-tabPanel class="info">
    <ng-template pTemplate = "header">
      <i class="pi pi-list"></i>
      <span>應用頁面資訊</span>
    </ng-template>
      <span class="p-input-icon-left">
        <i class="pi pi-search" (click)="searchTitle()"></i>
        <input type="text"  pInputText placeholder="以頁面標題搜尋" (keyup.enter)="searchTitle()" [(ngModel)]="search" />
      </span>
    <p-table [value]="lastPage" [lazy]="true" (onLazyLoad)="loadPage($event)" [loading]="loading" paginatorDropdownAppendTo="body" [scrollable]="true"  scrollHeight="550px" class="table" dataKey="pageId" editMode="row">
      <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let item of selectItems" [pSortableColumn]="item.id">{{item.title}}<i class="pi pi-sort"></i></th>
            <th  (click)="op.toggle($event)"><i  class="pi pi-ellipsis-v" style="color:white;position:relative; left: 80%;"></i></th>
        </tr>
      </ng-template>
      <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '18%'}">
            <p-multiSelect [options]="titles" [filter]=false [displaySelectedLabel]=false placeholder="選擇顯示欄位" [(ngModel)]="selectItems" optionDisabled="isDefault" optionLabel="title">
            </p-multiSelect>
      </p-overlayPanel>
         <ng-template pTemplate="body" let-page let-editing="editing" let-ri="rowIndex">
           <tr [pEditableRow]="page" [ngClass]="{'row-update': changeColor(page) ===true}">
             <td pEditableColumn *ngFor="let item of selectItems" >
               <p-cellEditor>
                 <ng-template pTemplate="input">
                   <input pInputText type="text" [(ngModel)]="page[item.id]">
                 </ng-template>
                 <ng-template pTemplate="output" >
                    <span>{{page[item.id]}}</span>
                 </ng-template>
               </p-cellEditor>
             </td>
             <td>
                <button *ngIf="!editing" pButton pRipple pInitEditableRow type="button" icon="pi pi-pencil" (click)="onRowEditInit(page)" class="p-button-rounded p-button-success p-mr-2"></button>
                <button *ngIf="editing"  pButton pRipple pSaveEditableRow icon="pi pi-check" class="p-button-rounded p-button-text p-button-success p-mr-2"  (click)="onRowEditSave(page,ri)" ></button>
                <button *ngIf="editing"  pButton pRipple pCancelEditableRow icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger"   (click)="onRowEditCancel(page,ri)" ></button>
                <button style="width:10px" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-button-icon-right" (click)="deletePage(page)" style="margin-left: 10px;"></button>
             </td>
          </tr>
      </ng-template>
    </p-table>
    <p-toast position="bottom-right" key="br"></p-toast>
  </p-tabPanel>
</p-tabView>
