<div class="page-infos" >
  <app-page-config-toolbar (update)="doupdate($event)" (isSave)="getCheckSave($event)" [appPages]="appPages" [lastPage]="pageData" [modifyInfos]="modifyInfos"></app-page-config-toolbar>
  <!-- (update)="..." -->
  <app-page-config-table class="tableArea" (appPage)="getAppPageInfos($event)" [isSave]="isSave" [pageData]="pageData"  (update)="doCheckSave($event)"></app-page-config-table>
  <!-- [pageData]="pageData" -->
</div>
<!-- 建一個屬性接 toolbar的值 -->
