

/* 使用.scss 將:host ::ng-deep{內容} */
:host ::ng-deep {
  .btn1{
    background-color:#aad5f9;
    justify-content: flex-start;
    padding: 5px 20px;
  }
  .alert {
    border-color: red;

  }
  .p-button.p-button-outlined{
    color: black;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .p-toolbar {
    justify-content: flex-start;
    background: #aad5f9;
    padding: 5px 20px;
  }


   .word{
    color: red;
    margin-left: 77%;

  }
  .btn{
    color:black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .info{
    margin-top: 10px;
  }
}
