
<div class="btn1">
  <button pButton (click)="onInsertClick('top')" icon="pi pi-plus"  class="btn" label="新增" styleClass="p-button-outlined"  type="button"></button>
  <p-dialog header="應用頁面" [(visible)]="displayPosition" [position]="position" [modal]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="card">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="pageId">頁面代號</label>
          <input id="pageId" (blur)="onTestpageBlur(newPage.pageId)"  [(ngModel)]="newPage.pageId" type="text" pInputText />
          <small *ngIf="alert==true" class="alert word">頁面代號重複</small>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="versionId" >版本</label>
          <input id="versionId" (blur)="onCheckCompleteBlur()" type="text" pInputText [(ngModel)]="newPage.versionId" />
        </div>
        <div class="p-field p-col">
          <label for="pageTitle">頁面標題</label>
          <input id="pageTitle" type="text" (blur)="onCheckCompleteBlur()" [(ngModel)]="newPage.pageTitle" pInputText />
        </div>
        <div class="p-field p-col">
          <label for="templateUrl">網頁路徑</label>
          <input  id="templateUrl" (blur)="onTestUrlBlur(newPage.templateUrl)" [ngClass]="{'alerturl': alerturl==true}" [(ngModel)]="newPage.templateUrl" type="text" pInputText />
          <small *ngIf="alerturl==true" class="alert word">網頁路徑重複</small>
        </div>
        <div class="p-field p-col">
          <label for="moduleName">輸入view名稱</label>
          <input id="moduleName" (blur)="onCheckCompleteBlur()" [(ngModel)]="newPage.remoteName" type="text" pInputText />
        </div>
        <div class="p-field p-col">
          <label for="moduleName">輸入模組名稱</label>
          <input id="moduleName" (blur)="onCheckCompleteBlur()" [(ngModel)]="newPage.moduleName" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="maintainerName"  >維護人員</label>
          <p-dropdown
            inputId="empCode"
            value = "empNo"
            optionLabel="empName"
            [options]="employees"
            [showClear]="true"
            [editable]="true"
            [(ngModel)]="selectemp"
            (onClick)="onCheckCompleteBlur()"
          ></p-dropdown>
        </div>

      </div>
    </div>
    <ng-template pTemplate="footer">
      <br>
      <p-button [disabled]="notComplete"  (click)="onSubmitClick()" label="確認" styleClass="p-button-secondary p-button-outlined"></p-button>
      <p-button  (click)="onCancelClick()" label="取消" styleClass="p-button-secondary p-button-outlined"></p-button>
   </ng-template>
  </p-dialog>
  <button pButton icon="pi pi-save" [disabled]="notUpdate" (click)="onSaveClick(modifyInfos)" type="button" label="儲存" class="btn"></button>
  <p-toast position="top-right"></p-toast>
</div>
